[advisories]
vulnerability = "deny"
unmaintained = "warn"

[licenses]
allow = [
    "MIT",
    "Apache-2.0",
    "BSD-2-Clause",
    "BSD-3-Clause",
    "ISC",
    "Unicode-3.0",
    "MPL-2.0",
    "OpenSSL",
    "Zlib",
    "CC0-1.0",
]
copyleft = "deny"

[bans]
multiple-versions = "warn"
